.section1-falcon-heavy{
    background-image: url("falconheavyhdd.png");
}


.section2-falcon-heavy {
    background-image: url("falconheavy.jpeg");
}

.section3-falcon-heavy {
    background-image: url("falconheavy.jpeg");
}

.section4-falcon-heavy {
    background-image: url("falconheavy.jpeg");
}

.section5-falcon-heavy {
    background-image: url("falconheavy.jpeg");
}

.section6-falcon-heavy {
    background-image: url("falconheavy.jpeg");
}

